:root {
    --dark-green: #015C5C;
    --light-green: #008080;
    --dark-purple: #581d75;
}

body {
    color: #000;
}

/* SET FLEX CONTAINERS */
header, section, nav, ul, footer {
    display: flex;
    align-items: center;
}

/* HEADER - LAPTOP SCREEN SIZE */
header {
    z-index: 99;
    justify-content: space-between;
    position: fixed;
    background-image: url("../images/code-hero.jpeg");
    background-size: cover;
    height: max-content;
    padding: 1.5rem 2.75rem;
    width: 100%;
    border-bottom: 0.5rem solid var(--dark-purple);
}

h1 {
    font-size: 3.5vw;
    color: #000;
}

h2 {
    font-size: 3vw;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 2vw;
    padding: 0.5rem 0 0.3rem;
}

p {
    font-size: 2vh;
    min-width: 16px;
}

li {
    padding: 0 2rem;
    font-size: 3vh;
}

main {
    padding-top: 6rem;
    background-size: cover;
}

section {
    padding: 3rem 4rem;
}

/* ABOUT ME - LAPTOP SCREEN SIZE */
.about-me {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.about-me img {
    width: 30%;
    padding: 1rem;
    border-right: 6px solid var(--light-green);
    border-left: 6px solid var(--light-green);
    margin-right: 6rem;
    border-radius: 25%;
} 

.about-me article {
    border-left: 8px solid var(--dark-green);
    padding: 1.5rem 3rem;
    margin-right: 7vw;
}

/* PROJECTS - LAPTOP SCREEN SIZE */
.projects {
    flex-direction: column;
    background-color: var(--dark-purple);
    color: #FFF;
}

#project-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.projects article {
    padding: 3vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 33%;
}

.projects article img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20%;
}

.placeholder-project img {
    opacity: 20%;
}

#project-container article img:hover {
    transform: scale(1.2);
    margin-bottom: 2rem;
}

/* CONTACT SECTION */
.contact-me {
    margin: 0.8rem 5rem;
    flex-direction: column;
    padding: 1.5rem 0 4rem;
}

/* LARGE TABLET SCREEN */
@media screen and (max-width: 1024px) {
    main {
        padding-top: 4rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    li {
        padding: 0 1rem;
    }

    /* ABOUT ME */
    .about-me article {
        margin-right: 0;
    }

    .about-me img {
        width: 40%;
        margin-right: 4rem;
    }

    /* PROJECTS */
    .projects article {
        padding: 4vw;
        width: 50%;
    }

    h3 {
        font-size: 1.2rem;
    }

    /* CONTACT ME */
    .contact-me li {
        font-size: 1rem;
    }

}

/* MINI TABLET SCREEN */
@media screen and (max-width: 768px) {
    main {
        padding-top: 20vw;
    }

    section {
        padding: 2rem 1.5rem;
    }
    
    /* HEADER */
    header {
        flex-direction: column;
        padding: 1.5rem 2rem;
    }
    
    h1 {
        font-size: 6vw;
        padding-bottom: 0.5rem;
    }

    h2 {
        font-size: 30px;
    }

    li {
        padding: 0 2rem;
        font-size: 3.4vw;        
    }
    

    /* ABOUT ME */
    .about-me img {
        width: 30%;
        padding: 1.2vw;
        border-right: 3px solid var(--light-green);
        border-left: 3px solid var(--light-green);
        margin-right: 1.5rem;
    } 
    
    .about-me article {
        border-left: 5px solid var(--dark-green);
        padding: 1.1rem 1.5rem;
        margin-right: 3vw;
    }

}


/* SMART PHONES */
@media screen and (max-width: 480px) {
    p, li {
        font-size: 16px;
    }

    /* HEADER */
    header {
        padding: 1.2rem 0.2rem 0.8rem 0.2rem;
        border-bottom: 0.25rem solid var(--dark-purple);
    }

    h1 {
        font-size: 2rem;
    }

    header nav ul li{
        padding: 0 1rem;

    }

    /* ABOUT ME */
    .about-me {
        flex-direction: column-reverse;
    }

    .about-me img {
        width: 60%
    } 

    /* CONTACT ME */
    .contact-me {
        margin: 1rem 0 4rem 0;
    }

    .contact-me h2 {
        font-size: 1.2rem;
    }

    .contact-me ul {
        max-width: 100%;
    }

}